<div class="row">
  <div class="col s10 m6 offset-s1 offset-m3">
    <mat-card>
      <div class="row center">
        <div class="col s12 m8">
          <div class="input-field">
            <input id="localizacao_cliente" type="text" class="validate" [(ngModel)]="clienteLocalizacao" (blur)="preencherLocalizacao(clienteLocalizacao, 'atual')">
            <label for="localizacao_cliente">CEP atual</label>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="input-field">
            <input id="numero_cliente" type="text" class="validate" [(ngModel)]="numeroAtualCliente">
            <label for="numero_cliente">Número atual</label>
          </div>
        </div>
        <div class="col s12 descricao">
          <span id="descricao_localizacao_atual">{{localizacaoAtual}}</span>
        </div>
        <div class="col s12 m8">
          <div class="input-field">
            <input id="localizacao_destino_cliente" type="text" class="validate" [(ngModel)]="clienteDestino"  (blur)="preencherLocalizacao(clienteDestino, 'destino')">
            <label for="localizacao_destino_cliente">CEP Destino</label>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="input-field">
            <input id="numero_destino_cliente" type="text" class="validate" [(ngModel)]="numeroDestinoCliente">
            <label for="numero_destino_cliente">Número Destino</label>
          </div>
        </div>
        <div class="col s12 descricao">
          <span id="descricao_localizacao_destino">{{localizacaoDestino}}</span>
        </div>
        <div class="col s12">
          <button mat-raised-button color="primary" (click)="solicitarVeiculoDisponivel()">Solicitar Veículo</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>