<div class="row">
  <div class="col s10 m6 offset-s1 offset-m3">
    <mat-card>
      <div class="row center">
        <div class="col s12">
        <h5>Qual o seu nome ?</h5>
      </div>
      <div class="col s10 m6 offset-s1 offset-m3">
          <div class="input-field">
              <input id="nome_cliente" type="text" class="validate" [(ngModel)]="clienteNome">
              <label for="nome_cliente">Nome</label>
            </div>        
      </div>
      <div class="col s12">
        <button mat-raised-button color="primary" (click)="informarDestino()">Continuar</button>
      </div>
      </div>
    </mat-card>
  </div>
</div>
